.Button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Button--Logout {
  color: #ffffff;
  background-color: tomato;
}
